body {
    font-family: "Segoe UI";
    font-size: 1.2em
}

.container {
    padding: 10px 60px;
}

.primary {
    margin: 10px 10% 0 10%;
    padding: 10px;
    background-color: rgba(142, 160, 241, 0.36);
    border-style: solid;
    border-color: blue;
    border-width: 0px 0px 0px 10px;
}

.danger {
    text-align: right;
    margin: 10px 10% 0 10%;
    padding: 10px;
    background-color: rgba(241, 142, 147, 0.36);
    border-style: solid;
    border-color: red;
    border-width: 0px 0px 0px 10px;
}

.info {
    margin: 10px 10% 0 10%;
    padding: 10px;
    background-color: rgba(142, 196, 241, 0.36);
    border-style: solid;
    border-color: green;
    border-width: 0px 0px 0px 10px;
}